#root {
  text-align: center;
}

.logo {
  height: 63px; 
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

h2 {
  margin: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

