.profile {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.profile-windows {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.profile-card,
.profile-form {
    background-color: #002366;
    color: white;
    border-radius: 10px;
    padding: 40px;
    width: 400px;
    height: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icon img {
    width: 100px;
    margin-bottom: 10px;
}

.white-bar {
    
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-windows label {
    font-size: large;
    /* margin-bottom: 5px; */
    display: block;
    text-wrap: nowrap;
}

.profile-windows input {
    font-size: large;
    width: 100%;
    padding: 8px;
    /* margin-bottom: 15px; */
    border: none;
    border-radius: 5px;
    background-color: transparent
}

.add-recipe {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: large;
    cursor: pointer;
}

.add-recipe:hover {
    background-color: #218838;
}